<!-- footer -->
<section class="fixed-bottom bg-custom-1">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center text-white d-flex justify-content-around p-2 px-4">
                <a data-toggle="tooltip" title="home" id="home">
                    <i class="fa fa-home p-2" aria-hidden="true"></i>
                </a>
                <a data-toggle="tooltip" title="candidtaes" id="cad">
                    <i class="fa fa-users p-2" aria-hidden="true"></i>
                </a>
                <a data-toggle="tooltip" title="result" id="res">
                    <i class="fa fa-trophy p-2" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<script src="jquery/jquery.min.js"></script>
<script src="popper/popper.js"></script>
<script src="bootstrap/bootstrap.bundle.js"></script>
<script src="moment/moment.min.js"></script>
<script src="chartjs/Chart.bundle.min.js"></script>
<script>
    $(document).ready(() => {
        $(".dismiss-popover").popover({
            trigger: 'focous',
            html: true
        });
    });
</script>
</body>

</html>