<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OVS</title>

    <link rel="stylesheet" href="fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="bootstrap/bootstrap.css">
    <link rel="stylesheet" href="chartjs/Chart.min.css">
    <style>
        ::-webkit-scrollbar {
            display: none;
        }

        .main_content {
            background: linear-gradient(90deg, #aa076b, #61045f);

        }

        .bg-custom-1 {
            background: linear-gradient(90deg, #aa076b, #61045f) !important;
        }

        .election_header {
            font-size: calc(5vh + 5vw);
        }

        #time .h3 {
            font-size: calc(4vh + 4vw);
        }

        .move {
            position: relative;
            transition: 3s;
            animation: updown 2s infinite;
        }

        @keyframes updown {

            0%,
            20%,
            50%,
            80%,
            100% {
                transform: translateY(0);
            }

            40% {
                transform: translateY(-30px);
            }

            60% {
                transform: translateY(-15px);
            }
        }

        .symbolWrapper {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            overflow: hidden;
            /* border: .1rem solid #333; */
            display: inline-block;
        }

        .spinner {
            height: 30px;
            width: 30px;
            border: 3px solid;
            border-radius: 50%;
            border-top-color: transparent;
            animation: spin 1s linear infinite;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            transform: translate(-50%, -50%);
            z-index: 1020;
        }

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }
    </style>
</head>


<body>
    <span class="spinner"></span>

    <nav class="navbar fixed-top bg-custom-1">
        <div class="container">
            <a class="navbar-brand text-white" href="/"><strong>OVS</strong></a>
            <a tabindex="0" class="text-white float-right dismiss-popover" data-toggle="popover" data-trigger="focous"
                data-content="<a href='/about'>about</a><br><br><a href='/privacy-policy'>privacy-policy</a>"
                style="outline:none;text-decoration:none;"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>