<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <!-- <link rel="stylesheet" href="fontawesome-free/css/all.min.css"> -->
    <link rel="stylesheet" href="bootstrap/bootstrap.css">
    <!-- <link rel="stylesheet" href="chartjs/Chart.min.css"> -->
    <title>Document</title>
</head>
<body>
    <h1>Hello Ritesh</h1>
    <a href="./AddCandidate" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Add Candidate</p>
      </a>
</body>
</html>