<%-include admin_common/header.ejs%>
<a href="/candidate" class="nav-link">
    <i class="far fa-circle nav-icon"></i>
    <p>Add Candidate</p>
</a>
<a href="/candidate" class="nav-link">
    <i class="far fa-circle nav-icon"></i>
    <p>Add Voters</p>
</a>
<%-include admin_common/footer.ejs%>