<%-include user_common/header.ejs%>

<!-- Modal -->
<div class="modal fade" id="voteAuth" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center msg"></div>
                <!-- otp send form -->
                <div class="form-group text-center stage1">
                    <div class="input-group">
                        <input type="text" class="form-control" id="uid" aria-describedby="helpId"
                            placeholder="enter your Aadhar number" maxlength="12">
                        <button class="btn btn-success otp-send disbaled" disabled>Send OTP</button>
                    </div>
                    <small id="helpId" class="form-text text-muted mb-1">Note <i>Enter you Aadhar number
                            number
                            without any space </i></small>
                </div>
                <!-- otp check form -->
                <div class="form-group text-center stage2">
                    <div class="input-group">
                        <input type="text" class="form-control" id="otp" aria-describedby="helpId"
                            placeholder="enter OTP here" maxlength="12">
                        <button class="btn btn-success otp-check disabled" disabled value="">verify</button>
                    </div>
                    <small id="helpId" class="form-text text-muted mb-1">!warning <i>any Wrong attempt will cancel
                            your vote</i></small>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="main_content mt-5" id="sectionTM">
    <!-- countdown-timer -->
    <div class="container text-white" id="time">

    </div>
</section>

<!-- candidates -->
<div class="container mt-5 mb-5" id="sectionCD">
    <div class="row candidates_show pt-4">

    </div>
</div>
<!-- result -->
<div class="container mt-5 mb-5" id="sectionRS">
    <div class="row result-table">
    </div>
    <div class="row">
        <div class='col-md-6 p-3'><canvas id='pieChart'></canvas></div>
        <div class='col-md-6 p-3'><canvas id='donutChart'></canvas></div>
    </div>
</div>

<%-include user_common/footer.ejs%>
<script>

    function votingStartIn(date, time, edate, etime) {
        var votebtn = $('.move-cont'),
            eventTime = moment(date + " " + time, 'DD-MM-YYYY HH:mm:ss').unix(),
            currentTime = moment().unix(),
            diffTime = eventTime - currentTime,
            duration = moment.duration(diffTime * 1000, 'milliseconds'),
            interval = 1000;
        //#endregion
        votebtn.hide();

        // if time to countdown
        if (diffTime > 0) {

            //#region get time container and hide vote btn
            var $d = $('.days');
            $h = $('.hours');
            $m = $('.minutes');
            $s = $('.seconds');
            //#endregion

            var tv = setInterval(function () {

                duration = moment.duration(duration.asMilliseconds() - interval, 'milliseconds');
                var d = moment.duration(duration).days(),
                    h = moment.duration(duration).hours(),
                    m = moment.duration(duration).minutes(),
                    s = moment.duration(duration).seconds();

                d = $.trim(d).length === 1 ? '0' + d : d;
                h = $.trim(h).length === 1 ? '0' + h : h;
                m = $.trim(m).length === 1 ? '0' + m : m;
                s = $.trim(s).length === 1 ? '0' + s : s;

                // show how many hours, minutes and seconds are left
                $d.text(d);
                $h.text(h);
                $m.text(m);
                $s.text(s);

                if (d == '00' && h == '00' && m == "00" && s == "00") {
                    clearInterval(tv);
                    votingEndIn(edate, etime);
                    votebtn.show();
                    $(".time-caption").html("<span class='h5'>voting ends in..</span>");
                }
            }, interval);

        }
        else {
            $(".time-caption").html("<span class='h5'>voting ends in..</span>");
            votebtn.show();
            votingEndIn(edate, etime);
        }
    }


    function votingEndIn(edate, etime) {

        var votebtn = $('.move-cont'),
            eventTime = moment(edate + " " + etime, 'DD-MM-YYYY HH:mm:ss').unix(),
            currentTime = moment().unix(),
            diffTime = eventTime - currentTime,
            duration = moment.duration(diffTime * 1000, 'milliseconds'),
            interval = 1000;
        //#endregion



        // if time to countdown
        if (diffTime > 0) {

            //#region get time container and hide vote btn
            var $d = $('.days');
            $h = $('.hours');
            $m = $('.minutes');
            $s = $('.seconds');
            //#endregion

            var tv = setInterval(function () {

                duration = moment.duration(duration.asMilliseconds() - interval, 'milliseconds');
                var d = moment.duration(duration).days(),
                    h = moment.duration(duration).hours(),
                    m = moment.duration(duration).minutes(),
                    s = moment.duration(duration).seconds();

                d = $.trim(d).length === 1 ? '0' + d : d;
                h = $.trim(h).length === 1 ? '0' + h : h;
                m = $.trim(m).length === 1 ? '0' + m : m;
                s = $.trim(s).length === 1 ? '0' + s : s;

                // show how many hours, minutes and seconds are left
                $d.text(d);
                $h.text(h);
                $m.text(m);
                $s.text(s);

                if (d == '00' && h == '00' && m == "00" && s == "00") {
                    console.log("voting starts in interval if statement--->");
                    clearInterval(tv);
                    $(".tm").hide();
                    $(".time-caption").html("<span class='h5'>voting ended</span>");
                    votebtn.hide();
                }
            }, interval);

        }
        else {
            $(".time-caption").html("<span class='h5'>voting ended</span>");
            $(".tm").hide();
            votebtn.hide();
        }
    }

    window.onload = function (e) {
        var page = localStorage.getItem("page");
        if (page) {
            $("#" + page).trigger("click");
        }
        else {
            $("#home").trigger("click");
        }

        $(".main_content").css("min-height", window.innerHeight);
        $(".main_content").css("min-width", window.innerwidth);

    };

    $(window).resize(() => {
        $(".main_content").css("min-height", window.innerHeight);
        $(".main_content").css("min-width", window.innerwidth);
    });
    $(document).on({
        ajaxStart: function () { $(".spinner").show(); },
        ajaxStop: function () { $(".spinner").hide(); }
    })

    $(document).ready(function () {

        var parties = [],
            score = [],
            voters = ["Total vote Given", "Voters left"],
            voteGiven = 0;
        $(".spinner").fadeOut();
        $("[data-toggle='tooltip']").tooltip();
        $("#sectionCD,#sectionRS").hide();

        $("#home").click(function () {
            localStorage.setItem("page", "home");
            $("#sectionTM").show();
            $("#sectionCD,#sectionRS").hide();
            $.ajax({
                url: "/home",
                type: "POST",
                success: function (data) {
                    if (data != false) {
                        $("#time").html("");
                        var record = "<div class='row'><div class='col-12 text-center mt-5 pt-5'>";
                        record += "<h1 class='election_header'>" + data.header + "</h1>";
                        record += "<p class='orgby'>" + data.orgby + "</p><p class='time-caption'><span class='h5'>voting begins in..</sapn></p></div>";
                        record += "<div class='col-3 col-md-3 text-center p-4 tm'><span class='h3 days'></span><br><span>Days</span></div>";
                        record += "<div class='col-3 col-md-3 text-center p-4 tm'><span class='h3 hours'></span><br><span>Hours</span></div>";
                        record += "<div class='col-3 col-md-3 text-center p-4 tm'><span class='h3 minutes'></span><br><span>minutes</span></div>";
                        record += "<div class='col-3 col-md-3 text-center p-4 tm'><span class='h3 seconds'></span><br><span>seconds</span></div>";
                        record += "<div class='col-12 text-center move-cont mb-3'><a class='text-white' data-toggle='modal' data-target='#voteAuth' data-backdrop='static' data-keyboard='false'><i class='fa fa-thumbs-up fa-3x move' aria-hidden='true'></i><br>";
                        record += "vote now</a> </div></div>";
                        $("#time").append(record);
                        votingStartIn(data.date, data.time, data.edate, data.etime);
                    }
                    else {
                        $("#time").html("<div class='row'><div class='col-12 text-center mt-5 pt-5 h4'>No events avilable<div></div>");
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            });
        });
        $("#cad").click(function () {
            localStorage.setItem("page", "cad");
            $("#sectionTM,#sectionRS").hide();
            $("#sectionCD").show();
            $.ajax({
                url: "candidates",
                type: "POST",
                success: function (data) {
                    if (data != false) {
                        $(".candidates_show").html("");
                        for (var i = 0; i < data.length; i++) {
                            var record = "";
                            record = "<div class='col-6 col-md-4 text-center mt-4 pt-4'>";
                            record += "<a data-toggle='modal' data-target='#" + data[i]._id + "'>";
                            record += "<img src='" + data[i].image + "' class='img-thumbnail img-fluid rounded-circle' style='width:100px;height:100px;'></a></div>";
                            record += "<div class='modal fade p-5' id='" + data[i]._id + "' tabindex='-1' role='dialog' aria-labelledby='modelTitleId' aria-hidden='true'>";
                            record += "<div class='modal-dialog modal-dialog-centered' role='document'>";
                            record += "<div class='modal-content'><div class='modal-header'><h5 class='modal-title'>" + data[i].name + "</h5>";
                            record += "<button type='button' class='close' data-dismiss='modal' aria-label='Close'>";
                            record += "<span aria-hidden='true'>&times;</span></button></div><div class='modal-body'>";
                            record += "<h5>from" + data[i].party + " <img src='" + data[i].symbol + "' class='float-right' style='width:30px;' data-toggle='tooltip' title='" + data[i].party + "'>";
                            record += "</h5><p>" + data[i].about + "</p></div></div></div></div>";

                            $(".candidates_show").append(record);
                        }
                    }
                    else {
                        $(".candidates_show").append("<div class='col-12 text-center pt-4 display-4'>Not availble..</div>");
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            });
        });
        $("#res").click(function () {
            localStorage.setItem("page", "res");
            $("#sectionTM,#sectionCD").hide();
            $("#sectionRS").show();
            $.ajax({
                url: "result",
                type: "POST",
                success: function (data) {
                    if (data != false) {
                        $(".result-table").html("");
                        var tstart = "<div class='col-md-12 pt-4'><div class='table-responsive'><table class='table'><thead><tr><th>Candidate</th><th></th><th></th><th>Party</th><th>vote count</th></tr></thead><tbody>";
                        $(".result-table").append(tstart);
                        for (var i = 0; i < data.length; i++) {
                            parties.push(data[i].party);
                            score.push(data[i].score);
                            voteGiven += data[i].score;
                            var record = "<tr>";
                            record += "<td><img src='" + data[i].image + "' class='rounded-circle img-thumbnail img-fluid' style='height:50px;width:50px'></td>";
                            record += "<td><strong>" + data[i].name + "</strong></td>";
                            record += "<td>from</td>";
                            record += "<td><strong>" + data[i].party + "</strong></td>";
                            record += "<td class='p-2'><img src='" + data[i].symbol + "' class='rounded-circle img-thumbnail img-fluid ' style='height:50px;width:50px'>";
                            record += "<span class='badge badge-secondry badge-success'>" + data[i].score + "</span></td></tr>";
                            $(".result-table table tbody").append(record);
                        }
                        var tend = "</tbody></table></div></div>";
                        $(".result-table").append(tend);
                        chart1(parties, score);
                    } else {
                        $(".result-table").append("<div class='col-12 text-center mt-4 pt-4 display-4'>Not available..</div>");
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            });
            $.ajax({
                url: "/voters",
                type: "POST",
                success: function (data) {
                    if (data != false)
                        chart2(voters, [voteGiven, data - voteGiven]);
                },
                error: function (data) {
                    console.log(data);
                }
            });
        });


        function chart1(parties, score) {
            //- DONUT CHART -
            var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
            var donutData = {
                labels: parties,
                datasets: [
                    {
                        data: score,
                        backgroundColor: ['#f39c12', '#00a65a', '#d2d6de'],
                    }
                ]
            }
            var donutOptions = {
                maintainAspectRatio: true,
                responsive: true,
            }
            var donutChart = new Chart(donutChartCanvas, {
                type: 'doughnut',
                data: donutData,
                options: donutOptions
            })
        }
        function chart2(voters, votes) {
            //- PIE CHART -
            var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
            var pieData = {
                labels: voters,
                datasets: [
                    {
                        data: votes,
                        backgroundColor: ['#f39c12', '#d2d6de'],
                    }
                ]
            }
            var pieOptions = {
                maintainAspectRatio: true,
                responsive: true,
            }
            //Create pie or douhnut chart
            // You can switch between pie and douhnut using the method below.
            var pieChart = new Chart(pieChartCanvas, {
                type: 'pie',
                data: pieData,
                options: pieOptions
            });

        }


        $(".stage2").hide();
        $("#uid").keyup(function () {
            if ($(this).val().length == 12) $(".otp-send").text("send OTP").prop("disabled", false).removeClass("disabled");
            else $(".otp-send").prop("disabled", false).text("send OTP").addClass("disabled");
        });
        $(".otp-send").click(function () {
            $(this).html("<i class='fa fa-spinner text-white' aria-hidden='true'></i>").prop("disabled", true);
            $.ajax({
                url: "otp_send",
                type: "POST",
                data: { uid: $("#uid").val() },
                success: function (data) {
                    if (data[0] == true) {
                        $(".msg").html("<span class='text-success'>" + data[1] + "</span>");
                        $(".stage2,.stage1").toggle();
                        $(".otp-check").val(data[2]);
                    }
                    else
                        $(".msg").html("<span class='text-danger'>" + data[1] + "<a href='/'>Try again..</a></span>");
                },
                error: function (data) {
                    $(".msg").html("<span class='text-danger'>something went wrong <a href='/'>Try again..</a></span>");
                }
            });
        });

        $("#otp").keyup(function () {
            if ($(this).val().length == 6) $(".otp-check").text('verify').prop("disabled", false).removeClass("disabled");
            else $(".otp-check").prop("disabled", false).text('verify').addClass("disabled");
        });
        $(".otp-check").click(function () {
            var id = $(this).val();
            var spinner = " <i class='fa fa-spinner text-white' aria-hidden='true'></i>"
            $(this).html(spinner).prop("disabled", true);
            $.ajax({
                url: "otp_check",
                type: "POST",
                data: { otp: $("#otp").val(), id: id },
                success: function (data) {
                    if (data[0] == true) {
                        $(".msg").html("<span class='text-success'>verified successfully redirecting to voting page..<br> if not redirecting automatically <a href='/vote'>Cick here</a></span>");
                        $(".msg").closest("form-group").toggle()
                        window.location.href = '/vote';
                    }
                    else
                        $(".msg").html("<span class='text-danger'>" + data[1] + "</span>");
                },
                error: function (data) {
                    $(".msg").html("<span class='text-danger'>something went wrong <a href='/'> Try again..</a></span>");
                }
            });
        });

    });
</script>