<!DOCTYPE html>
<html>

<head>
  <title>OVS Admin</title>
  <link rel="stylesheet" href="fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="bootstrap/bootstrap.css">
  <style>
    body {
      background: #333;
    }

    .card {
      margin-top: 20vh;
      max-width: 30rem;
    }
  </style>
</head>

<body>
  <!-- Modal -->
  <div class="modal fade" id="admin_request" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Admin access request</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="request_form">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
              </div>
              <input type="email" id="request_email" class="form-control" placeholder="enter your email">
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-key"></i></span>
              </div>
              <input type="password" id="request_pass" class="form-control" placeholder="enter your password">
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-key"></i></span>
              </div>
              <input type="password" id="request_cpass" class="form-control" placeholder="confirm your password">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary request_submit">submit</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card card-login mx-auto text-center bg-dark">
      <div class="card-header mx-auto">
        <span class="logo_title mt-5 text-white"> OVS Admin </span>
      </div>
      <div class="card-body">
        <form class='login_form'>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" id="admin_email" class="form-control" placeholder="Admin Username">
          </div>

          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" id="admin_pass" class="form-control" placeholder="Admin Password">
          </div>

          <div class="form-group">
            <button type="button" id="butn" class="btn btn-outline-success float-right disabled" disabled>Login</button>
          </div>
        </form>
        <div class="form-group">
          <button type="button" class="btn btn-outline-primary float-left btn-sm" data-toggle="modal"
            data-target="#admin_request">Request for admin access</button>
        </div>
      </div>
    </div>
  </div>
  <script src="jquery/jquery.min.js"></script>
  <script src="bootstrap/bootstrap.bundle.js"></script>
  <script>
    $(document).ready(function () {
      $(".login_form :input").focus(() => {
        $(".msg").hide();
      }).keyup(function () {
        if ($("#admin_email").val() != "" && $("#admin_pass").val() != "")
          $("#butn").prop("disabled", false).removeClass("disabled");
        else
          $("#butn").prop("disabled", true).addClass("disabled");
      });

      // request form validation
      $(".request_form :input").focus(() => {
        $(".msg").hide();
      });
      // login form submit action
      $("#butn").click(function () {
        var admin_login = {
          "Email": $("#admin_email").val(),
          "Password": $("#admin_pass").val()
        }
        $.ajax({
          url: "loginAuth",
          type: "POST",
          data: { admin_login: JSON.stringify(admin_login) },
          success: function (data) {
            if (data[0] == true)
              window.location.href = "/dashboard";
            else
              $(".card-header").after("<div class='col-12 text-center text-danger msg'>" + data[1] + "</div>")
          },
          error: function (data) {
            console.log(data);
          }
        });
      });

      // request form submit action
      $(".request_submit").click(function () {
        var msg = "";
        var req_email = $("#request_email").val();
        var req_pass = $("#request_pass").val();
        var req_cpass = $("#request_cpass").val();


        if (req_email == "") $("#request_email").focus().after("<div class='col-12 text-danger text-center msg'>email cannot be empty</div>");
        else if (req_pass == "") $("#request_pass").focus().after("<div class='col-12 text-danger text-center msg'>password can't be empty'</div>");
        else if (req_pass.length < 5) $("#request_pass").focus().after("<div class='col-12 text-danger text-center msg'>password should be atleast 6 characters</div>");
        else if (req_cpass != req_pass) $("#request_cpass").focus().after("<div class='col-12 text-danger text-center msg'>password not matched</div>");
        else {
          var new_admin = {
            Email: req_email,
            Password: req_pass
          }

          $.ajax({
            url: "new_admin_request",
            type: "POST",
            data: { new_admin: JSON.stringify(new_admin) },
            success: function (data) {
              if (data[0] == true) {
                $(".request_submit").hide();
                $(".modal-body").html("<div class='col-12 text-center text-success'>" + data[1] + "</div>")
              }
              else {
                $(".request_form").before("<div class='col-12 text-center text-danger small msg'>" + data[1] + "</div>");
              }
            },
            error: function (data) {
              $(".modal-body").html("<div class='col-12 text-center text-danger small'>something went wrong</div>");
              console.log(data);
            }
          });

        }

      });

    });
  </script>
</body>

</html>