<script src="jquery/jquery.min.js"></script>
<script src="jquery/jquery-ui.min.js"></script>
<script src="bootstrap/bootstrap.bundle.js"></script>
<script src="toastr/toastr.min.js"></script>
<script src="javascripts/admin.js"></script>
</body>

</html>