::-webkit-scrollbar {
  width: 5px;
}
/* candidate.ejs css start */
.candidateImageWrapper,
.partySymbolWrapper,
.candidateImageWrapperU,
.partySymbolWrapperU {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #333;
  background-size: cover !important;
  background-position: center !important;
}

#candidateImage,
#partySymbol,
#candidateImageU,
#partySymbolU {
  width: 100%;
  height: 100%;
  opacity: 0;
}
/* cadndidate.ejs script end */
